In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import plotly.express as px

import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Import data and review structure

In [ ]:
df = pd.read_csv("vehicles.csv")

In [ ]:
df.columns

In [ ]:
# Create DataFrame that summarizes characteristic of dataset
dataset = pd.DataFrame(
            data={#'Column Description': df.columns,
                'Data Type': df.dtypes,
                'Number of NaN': df.isnull().sum(),
                'Data Sample': df.loc[426878]})

In [ ]:
dataset

# Create tables

In [ ]:
# Create main DataFrame
df_main = df.drop(columns=['url','region','region_url','VIN','size','paint_color','image_url','description','county','lat','long','posting_date'])

In [ ]:
# Create sub DataFrame
df_sub = df.drop(columns=['price','year','manufacturer','model','condition','cylinders','fuel','odometer','title_status','transmission','drive','size','type','county','state','lat','long'])

In [ ]:
# Create area DataFrame
state = ['ca','or','wa','hi','ak','nv','id','mt','wy','ut','co','az','nm','nd','sd','ne','ks','mn','ia','mo','wi','il','mi','in','oh','pa','ny','vt','me','nh','ma','ct','ri','nj','tx','ok','ar','la','ky','tn','ms','al','de','md','dc','wv','va','nc','sc','ga','fl']
area = ['west','west','west','west','west','west','west','west','west','west','west','west','west','mw','mw','mw','mw','mw','mw','mw','mw','mw','mw','mw','mw','ne','ne','ne','ne','ne','ne','ne','ne','ne','south','south','south','south','south','south','south','south','south','south','south','south','south','south','south','south','south']
df_area = pd.DataFrame({'state': state,
       'area': area})

In [ ]:
# Drop rows that include NaN
df_main = df_main.dropna()
df_sub = df_sub.dropna()

# Convert data types

In [ ]:
# Data conversion in main DataFrame
df_main['id'] = df_main['id'].astype(str)

df_main['year'] = df_main['year'].astype('int')
df_main['year'] = pd.to_datetime(df_main['year'].astype(str))

df_main['cylinders'] = df_main['cylinders'].str.replace(' cylinders','')
df_main['cylinders'] = df_main['cylinders'].str.replace('other','0')
df_main['cylinders'] = df_main['cylinders'].astype('int')

In [ ]:
# Data conversion in sub DataFrame
df_sub['id'] = df_sub['id'].astype(str)

# Connect to database

In [ ]:
# Connect to PostgreSQL database
# Replace username and password with local values

conn_string = 'postgresql://postgres:pass@127.0.0.1/Used_Car_Price_Prediction'
  
db = create_engine(conn_string)
conn = db.connect()
conn1 = psycopg2.connect(
    database="Used_Car_Price_Prediction",
  user='postgres', 
  password='pass', 
  host='127.0.0.1', 
  port= '5432'
)

conn1.autocommit = True
cursor = conn

In [ ]:
# Drop table if exists already
cursor.execute('DROP TABLE IF EXISTS Vehicles_Main')

In [ ]:
cursor.execute('DROP TABLE IF EXISTS Vehicles_Sub')

In [ ]:
cursor.execute('DROP TABLE IF EXISTS Vehicles_Area')

In [ ]:
# Create main table schema
sql_main = '''CREATE TABLE Vehicles_Main (
    "id" int   NOT NULL,
    "price" int   NOT NULL,
    "year" date   NOT NULL,
    "manufacturer" varchar   NOT NULL,
    "model" varchar   NOT NULL,
    "condition" varchar   NOT NULL,
    "cylinders" int   NOT NULL,
    "fuel" varchar   NOT NULL,
    "odometer" int   NOT NULL,
    "title_status" varchar   NOT NULL,
    "transmission" varchar   NOT NULL,
    "drive" varchar   NOT NULL,
    "type" varchar   NOT NULL,
    "state" varchar   NOT NULL,   
    CONSTRAINT "pk_Vehicles_Main" PRIMARY KEY ("id")
);'''

In [ ]:
# Create sub table schema
sql_sub = '''CREATE TABLE Vehicles_Sub (
    "id" int   NOT NULL,
    "url" varchar   NOT NULL,
    "region" date   NOT NULL,
    "region_url" varchar   NOT NULL,
    "VIN" varchar   NOT NULL,
    "paint_color" varchar   NOT NULL,
    "image_url" varchar   NOT NULL,
    "description" varchar   NOT NULL,
    "state" varchar   NOT NULL,
    "posting_date" varchar   NOT NULL,
    CONSTRAINT "pk_Vehicles_Sub" PRIMARY KEY ("id")
);'''

In [ ]:
# Create area table schema
sql_area = '''CREATE TABLE Vehicles_Area (
    "state" varchar   NOT NULL,
    "area" varchar   NOT NULL,
    CONSTRAINT "pk_Vehicles_Area" PRIMARY KEY ("state")
);'''

In [ ]:
cursor.execute(sql_main)

In [ ]:
cursor.execute(sql_sub)

In [ ]:
cursor.execute(sql_area)

In [ ]:
# Adds main table to the database
df_main.to_sql('Vehicles_Main', conn, if_exists= 'replace', index=False)

In [ ]:
# Adds sub table to the database
df_sub.to_sql('Vehicles_Sub', conn, if_exists= 'replace', index=False)

In [ ]:
# Adds area table to the database
df_area.to_sql('Vehicles_Area', conn, if_exists= 'replace', index=False)

In [ ]:
# Close connection
conn1.commit()
conn1.close()

# Explore, analyze, and eliminate

In [ ]:
df_main['id'].count()

## Odometer

In [ ]:
# Check odometer data
df_main['odometer'].describe()

In [ ]:
# Show histogram
plt.hist(df_main['odometer'], bins=10)
plt.show()

In [ ]:
# Count cars with odometer 200000 or less
df_main[(df_main['odometer']<200000)].count()

## Year

In [ ]:
# Check year data - Show barchart
year_count = df_main.groupby(['year']).count()
plt.bar(year_count.index.astype(str), year_count['id'])
plt.show()

In [ ]:
# Count entry 2001 and after
df_main[(df_main['year'] > dt.datetime(2000,1,1))].count()

## Price

In [ ]:
df_main['price'].describe()

In [ ]:
# Count cars higher than $100000
df_main[(df_main['price'] > 100000)].count()

In [ ]:
# Count cars for free
df_main[(df_main['price']==0)].count()

## Conclusion

Eliminate following cars:
  1. Odometer greater than 200000 miles
  2. Entry year in 2000 or before
  3. Price higher than 100000 or 0

In [ ]:
# Eliminate unwanted data
df_newmain = df_main[(df_main['odometer']<=200000) & (df_main['year']>dt.datetime(2000,1,1)) & (df_main['price']<=100000) & (df_main['price']!=0)]

In [ ]:
df_newmain['id'].count()

# Refine dataset

## Remove outliers in each year

In [ ]:
# Boxplot
fig_year = px.box(df_newmain, x='year', y='price')
fig_year.show()

In [ ]:
# Specify outliers in each year
outlier_01_05 = df_newmain.index[(df_newmain['year'] >= dt.datetime(2001,1,1)) & (df_newmain['year'] <= dt.datetime(2005,1,1)) & (df_newmain['price'] > 40000)]
outlier_06    = df_newmain.index[(df_newmain['year'] == dt.datetime(2006,1,1)) & (df_newmain['price'] > 60000)]
outlier_07_10 = df_newmain.index[(df_newmain['year'] >= dt.datetime(2007,1,1)) & (df_newmain['year'] <= dt.datetime(2010,1,1)) & (df_newmain['price'] > 50000)]
outlier_11_14 = df_newmain.index[(df_newmain['year'] >= dt.datetime(2011,1,1)) & (df_newmain['year'] <= dt.datetime(2014,1,1)) & (df_newmain['price'] > 60000)]
outlier_15    = df_newmain.index[(df_newmain['year'] == dt.datetime(2015,1,1)) & (df_newmain['price'] > 80000)]
outlier_16_20 = df_newmain.index[(df_newmain['year'] >= dt.datetime(2016,1,1)) & (df_newmain['year'] <= dt.datetime(2020,1,1)) & (df_newmain['price'] > 90000)]
outlier_22    = df_newmain.index[(df_newmain['year'] == dt.datetime(2022,1,1))]

In [ ]:
name = [outlier_01_05, outlier_06, outlier_07_10, outlier_11_14, outlier_15, outlier_16_20, outlier_22]

In [ ]:
for outlier in name:
    df_newmain = df_newmain.drop(outlier)

## New data table

In [ ]:
df_newmain

In [ ]:
# Boxplot
fig_year = px.box(df_newmain, x='year', y='price')
fig_year.show()

## Replace state with area

In [ ]:
# Combine main and area DataFrame
maindata = pd.merge(df_newmain, df_area, on=['state','state'])

In [ ]:
maindata = maindata.drop(columns=['state'])

In [ ]:
maindata

# Export into CSV format

In [ ]:
maindata.to_csv("vehicles_maindata.csv")

# Analyze by other features

## State

In [ ]:
# Entry count by area
count_area = maindata['id'].groupby(maindata['area']).count()
count_area

In [ ]:
# Average price by area
avg_area = maindata.groupby(['area']).mean()['price']
avg_area

In [ ]:
# Boxplot
fig_area = px.box(maindata, x='area', y='price')
fig_area.show()

In [ ]:
# Create DataFrame - Entry count & average price
df_by_state = pd.DataFrame(
    data=np.array([count_area,
                   avg_area]),
    index=['Entry Count','Average Price'],
    columns=['midwest','northeast','south','west']
             )
df_by_state

## Condition

In [ ]:
# Boxplot
fig_condition = px.box(maindata, x='condition', y='price')
fig_condition.show()

In [ ]:
maindata.condition.value_counts()

## Cylinders

In [ ]:
# Boxplot
fig_cyl = px.box(maindata, x='cylinders', y='price')
fig_cyl.show()

In [ ]:
maindata.cylinders.value_counts()

## Fuel

In [ ]:
# Boxplot
fig_fuel = px.box(maindata, x='fuel', y='price')
fig_fuel.show()

In [ ]:
maindata.fuel.value_counts()

## Title status

In [ ]:
# Boxplot
fig_title = px.box(maindata, x='title_status', y='price')
fig_title.show()

In [ ]:
maindata.title_status.value_counts()

## Transmission

In [ ]:
# Boxplot
fig_tm = px.box(maindata, x='transmission', y='price')
fig_tm.show()

In [ ]:
maindata.transmission.value_counts()

## Drive

In [ ]:
# Boxplot
fig_drive = px.box(maindata, x='drive', y='price')
fig_drive.show()

In [ ]:
maindata.drive.value_counts()

In [ ]:
maindata.groupby(['drive']).mean()['price']

## Type

In [ ]:
# Boxplot
fig_type = px.box(maindata, x='type', y='price')
fig_type.show()

In [ ]:
maindata.type.value_counts()

In [ ]:
maindata.groupby(['type']).mean()['price']