In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import plotly.express as px

import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
df = pd.read_csv("../Test/vehicles.csv")

In [ ]:
df.columns

In [ ]:
# Create DataFrame that summarizes characteristic of dataset
dataset = pd.DataFrame(
            data={#'Column Description': df.columns,
                'Data Type': df.dtypes,
                'Number of NaN': df.isnull().sum(),
                'Data Sample': df.loc[426878]})

In [ ]:
dataset

# Create tables

In [ ]:
df.columns

In [ ]:
# Create main DataFrame
df_main = df.drop(columns=['url','region','region_url','VIN','size','paint_color','image_url','description','county','state','lat','long','posting_date'])

In [ ]:
# Create sub DataFrame
df_sub = df.drop(columns=['price','year','manufacturer','model','condition','cylinders','fuel','odometer','title_status','transmission','drive','size','type','county','lat','long'])

In [ ]:
# Drop rows that include NaN
df_main = df_main.dropna()
df_sub = df_sub.dropna()

In [ ]:
# Data conversion in main DataFrame
df_main['id'] = df_main['id'].astype(str)

df_main['year'] = df_main['year'].astype('int')
df_main['year'] = pd.to_datetime(df_main['year'].astype(str))

df_main['cylinders'] = df_main['cylinders'].str.replace(' cylinders','')
df_main['cylinders'] = df_main['cylinders'].str.replace('other','0')
df_main['cylinders'] = df_main['cylinders'].astype('int')

In [ ]:
# Data conversion in sub DataFrame
df_sub['id'] = df_sub['id'].astype(str)

In [ ]:
df_sub

# Connect to database

In [ ]:
# Connect to PostgreSQL database
# Replace username and password with local values

conn_string = 'postgresql://postgres:pass@127.0.0.1/Used_Car_Price_Prediction'
  
db = create_engine(conn_string)
conn = db.connect()
conn1 = psycopg2.connect(
    database="Used_Car_Price_Prediction",
  user='postgres', 
  password='pass', 
  host='127.0.0.1', 
  port= '5432'
)

conn1.autocommit = True
cursor = conn

In [ ]:
# Drop table if exists already
cursor.execute('DROP TABLE IF EXISTS Vehicles_Main')

In [ ]:
cursor.execute('DROP TABLE IF EXISTS Vehicles_Sub')

In [ ]:
# Create main table schema
sql_main = '''CREATE TABLE Vehicles_Main (
    "id" int   NOT NULL,
    "price" int   NOT NULL,
    "year" date   NOT NULL,
    "manufacturer" varchar   NOT NULL,
    "model" varchar   NOT NULL,
    "condition" varchar   NOT NULL,
    "cylinders" int   NOT NULL,
    "fuel" varchar   NOT NULL,
    "odometer" int   NOT NULL,
    "title_status" varchar   NOT NULL,
    "transmission" varchar   NOT NULL,
    "drive" varchar   NOT NULL,
    "type" varchar   NOT NULL,
    CONSTRAINT "pk_Vehicles_Main" PRIMARY KEY (
        "id"
     )
);'''

In [ ]:
# Create sub table schema
sql_sub = '''CREATE TABLE Vehicles_Sub (
    "id" int   NOT NULL,
    "url" varchar   NOT NULL,
    "region" date   NOT NULL,
    "region_url" varchar   NOT NULL,
    "VIN" varchar   NOT NULL,
    "paint_color" varchar   NOT NULL,
    "image_url" varchar   NOT NULL,
    "description" varchar   NOT NULL,
    "state" varchar   NOT NULL,
    "posting_date" varchar   NOT NULL,
    CONSTRAINT "pk_Vehicles_Sub" PRIMARY KEY (
        "id"
     )
);'''

In [ ]:
cursor.execute(sql_main)

In [ ]:
cursor.execute(sql_sub)

In [ ]:
# Adds main table to the database
df_main.to_sql('Vehicles_Main', conn, if_exists= 'replace', index=False)

In [ ]:
# Adds sub table to the database
df_sub.to_sql('Vehicles_Sub', conn, if_exists= 'replace', index=False)

In [ ]:
#Close connection
conn1.commit()
conn1.close()