In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("vehicles.csv")

In [5]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [6]:
print(df.isnull().sum())

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [7]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [8]:
df.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

In [9]:
# Drop columns that is not needed (Please select whatever columns we would not need)
df_columns = df.drop(columns=['url','region_url','VIN','paint_color','image_url','description','county','lat','long','posting_date'])

In [10]:
# Remove rows with NA data
df_columns_drop = df_columns.dropna()

In [11]:
df_columns_drop

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,state
31,7316356412,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,full-size,truck,al
55,7314560853,auburn,19900,2004.0,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,full-size,pickup,al
59,7313406529,auburn,14000,2012.0,honda,odyssey,excellent,6 cylinders,gas,95000.0,clean,automatic,fwd,full-size,mini-van,al
65,7312847466,auburn,22500,2001.0,ford,f450,good,8 cylinders,diesel,144700.0,clean,manual,rwd,full-size,truck,al
73,7312144944,auburn,15000,2017.0,dodge,charger rt 4dr sedan,excellent,8 cylinders,gas,90000.0,rebuilt,automatic,rwd,mid-size,sedan,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426808,7302963673,wyoming,18000,2005.0,chevrolet,silverado 1500 lt 4x4,excellent,8 cylinders,gas,130000.0,lien,automatic,4wd,full-size,truck,wy
426809,7302963273,wyoming,18000,1990.0,jeep,gand wagoneer,good,8 cylinders,gas,114400.0,clean,automatic,4wd,full-size,SUV,wy
426831,7302384818,wyoming,9800,1985.0,nissan,300zx coupe with t-tops,like new,6 cylinders,gas,115000.0,clean,automatic,rwd,sub-compact,hatchback,wy
426833,7302338378,wyoming,6800,1997.0,jaguar,xk8 convertible,good,8 cylinders,gas,69550.0,clean,automatic,rwd,compact,convertible,wy
426836,7302301268,wyoming,0,2018.0,ram,2500,excellent,6 cylinders,diesel,20492.0,clean,automatic,4wd,full-size,truck,wy

In [12]:
# Check 'cylinders' column
cylinders_count = df_columns_drop.cylinders.value_counts()
cylinders_count

6 cylinders     28062
4 cylinders     27056
8 cylinders     24931
10 cylinders      802
5 cylinders       738
other             257
3 cylinders       162
12 cylinders       43
Name: cylinders, dtype: int64

In [13]:
# Preprocess 'cylinders' column - Remove 'cylinders'
df_columns_drop['cylinders'] = df_columns_drop['cylinders'].str.replace(' cylinders','')

C:\Users\NameInsertable\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
# Preprocess 'cylinders' column - Remove 'other'
df_columns_drop['cylinders'] = df_columns_drop['cylinders'].str.replace('other','0')

C:\Users\NameInsertable\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# Assign data type
df_columns_drop['cylinders'].astype('float64')

31        6.0
55        8.0
59        6.0
65        8.0
73        8.0
         ...
426808    8.0
426809    8.0
426831    6.0
426833    8.0
426836    6.0
Name: cylinders, Length: 82051, dtype: float64

In [16]:
# Check 'cylinders' column
cylinders_count = df_columns_drop.cylinders.value_counts()
cylinders_count

6     28062
4     27056
8     24931
10      802
5       738
0       257
3       162
12       43
Name: cylinders, dtype: int64

In [17]:
#Import Dependencies
import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [18]:
#Connect to PostgreSQL Database
#Replace username and password with local values
conn_string = 'postgresql://postgres:pass@127.0.0.1/Used_Car_Price_Prediction'
  
db = create_engine(conn_string)
conn = db.connect()
conn1 = psycopg2.connect(
    database="Used_Car_Price_Prediction",
  user='postgres', 
  password='pass', 
  host='127.0.0.1', 
  port= '5432'
)

conn1.autocommit = True
cursor = conn

In [19]:
#Drop table if exists already
cursor.execute('DROP TABLE IF EXISTS vehicles')

In [20]:
#Create the table schema
sql = '''CREATE TABLE Vehicles (
    "id" int   NOT NULL,
    "price" int   NOT NULL,
    "year" date   NOT NULL,
    "manufacturer" varchar   NOT NULL,
    "model" varchar   NOT NULL,
    "condition" varchar   NOT NULL,
    "cylinders" int   NOT NULL,
    "fuel" varchar   NOT NULL,
    "odometer" int   NOT NULL,
    "title_status" varchar   NOT NULL,
    "transmission" varchar   NOT NULL,
    "drive" varchar   NOT NULL,
    "type" varchar   NOT NULL,
    CONSTRAINT "pk_Vehicles" PRIMARY KEY (
        "id"
     )
);'''

In [21]:
cursor.execute(sql)

In [22]:
#Adds the dataframe data to the database
df_columns_drop.to_sql('vehicles', conn, if_exists= 'replace', index=False)

In [23]:
#Close connection
conn1.commit()
conn1.close()

In [ ]:
# Select columns for analysis
df_test = df_columns_drop.loc[:,['price','cylinders','odometer']]

In [ ]:
df_test

In [ ]:
# Create features and target
X = df_test.copy().drop('price',axis=1)
y = df_test['price']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [ ]:
# Create training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [ ]:
# Create model
regr = DecisionTreeRegressor()

In [ ]:
# Fit model
regr.fit(X_train, y_train)

In [ ]:
# Make prediction
y_pred = regr.predict(X_test)

In [ ]:
# Result of prediction
data = {'price': y_test,
       'prediction': y_pred}
df_pred = pd.DataFrame(data)

In [ ]:
df_pred

In [ ]:
df_columns_drop.to_csv("vehicles_processed.csv", index=False)